altair
annotated-types
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
dacite
decorator
et-xmlfile
fonttools
gitdb
GitPython
htmlmin
idna
ImageHash
importlib-metadata
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
missingno
multimethod
networkx
numpy
openpyxl
packaging
pandas
patsy
phik
Pillow
plotly
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
Pympler
pyparsing
pypdf
python-dateutil
python-decouple
python-dotenv
pytz
pytz-deprecation-shim
PyWavelets
PyYAML
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
semver
six
smmap
statsmodels
streamlit
streamlit-ace
streamlit-aggrid
streamlit-discourse
streamlit-disqus
streamlit-elements
streamlit-pandas-profiling
streamlit-player
streamlit-quill
tangled-up-in-unicode
tenacity
threadpoolctl
toml
toolz
tornado
tqdm
typeguard
typing_extensions
tzdata
tzlocal
urllib3
validators
visions
watchdog
wordcloud
ydata-profiling
zipp
